@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");

body {
  background-image: url("../images/main_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar .container-fluid .navbar-brand {
  font-family: "WindSong", cursive;
  font-weight: bolder;
  font-size: 28px;
  color: blue;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  font-weight: bolder;
  text-shadow: 2px 2px white;
}

.my-image {
  height: 270px;
  border-radius: 50%;
  background-color: black;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: auto;
}

.image-desc h1 {
  color: white;
  font-weight: bolder;
  font-size: 70px;
  z-index: 202;
  font-family: "Rajdhani", sans-serif;
}
.image-desc h5 {
  color: white;
  font-weight: bolder;

  z-index: 202;
}

h5::before {
  content: "Django Developer";
  animation: animate infinite 8s;
  padding-left: 10px;
}

@keyframes animate {
  25% {
    content: "Django Developer";
  }

  50% {
    content: "and..";
  }

  75% {
    content: "An Aspiring Data Scientist";
  }
}
