@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap");

body {
  background-image: url("../images/main_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar .container-fluid .navbar-brand {
  font-family: "WindSong", cursive;
  font-weight: bolder;
  font-size: 28px;
  color: crimson;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  font-weight: bolder;
  text-shadow: 2px 2px white;
}
